<div><%=@product.name%> </div>
<div><%=@product.description%> </div>
<a href="#" class="js-next-product" data-id="<%=@product.id%>">Next Product</a>

<script type="text/javascript" charset="utf-8"> 
    $(function() {
        $(".js-next-product").on("click", function(e) {
            e.preventDefault();
            var nextId = parseInt($(".js-next-product").attr("data-id")) + 1;
            $.getJSON("/products/" + nextId + "/product_data", function (data) {
                $(".productName").text(data["name"])
                $(".productDescription").text(data["description"])
                $(".js-next").attr("data-id", data["id"]);
            })
        })
    })
</script>